/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

h1, h2 {
  text-transform: uppercase; }

@font-face {
  font-family: 'Rogan';
  src: url("../fonts/rogan-extrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Rogan';
  src: url("../fonts/rogan-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body, html {
  font-family: 'Rogan', serif;
  font-size: 92%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1.7; }

.text-center {
  text-align: center; }

body, html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: #fff;
  background-color: #000; }

.input {
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  height: 66px;
  color: #FFF !important;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 15px;
  background: none; }
  .input--round {
    border-radius: 35px;
    border-color: rgba(138, 224, 255, 0.35); }

.button {
  font-family: inherit;
  font-size: 28px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  height: 65px;
  margin: 0 30px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 65px;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #00adff, #00f2fe) 100% 1;
  background: none;
  transition: color 0.2s; }
  .button span {
    position: relative;
    z-index: 1;
    display: block;
    height: 63px;
    padding: 0 10px; }
  .button span::before,
  .button span::after {
    position: absolute;
    top: -2px;
    bottom: -0;
    width: 32px;
    content: '';
    border-style: solid;
    border-width: 2px; }
  .button span::before {
    right: 100%;
    border-right-width: 0;
    border-color: #00adff;
    border-radius: 32px 0 0 32px; }
  .button span::after {
    left: 100%;
    border-left-width: 0;
    border-color: #00f2fe;
    border-radius: 0 32px 32px 0; }
  .button::before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -32px;
    right: -32px;
    content: '';
    opacity: 0;
    border-radius: 32px;
    background-image: linear-gradient(to right, #00adff, #00f2fe);
    transition: opacity 0.2s; }
  .button:hover {
    color: #0d1d3f;
    text-decoration: none;
    transition: none; }
    .button:hover::before {
      opacity: 1;
      transition: none; }
    .button:hover span::before,
    .button:hover span::after {
      display: none; }
    .button:hover .button-icon {
      fill: #0d1d3f; }
  .button em {
    font-style: normal;
    font-weight: normal; }
  @media screen and (max-width: 1200px) {
    .button {
      font-size: 26px; } }
  @media screen and (max-width: 1000px) {
    .button {
      font-size: 22px; } }
  @media screen and (max-width: 768px) {
    .button {
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      margin: 0 23px; }
      .button span::before,
      .button span::after {
        width: 23px;
        height: 46px; }
      .button::before {
        left: -23px;
        right: -23px; } }
  .button--rect {
    font-size: 24px;
    width: calc(100% - 30px);
    height: 60px;
    margin: 0 15px;
    line-height: 60px; }
    .button--rect span {
      height: 100%; }
    .button--rect span::before,
    .button--rect span::after {
      width: 15px;
      height: 60px; }
    .button--rect::before {
      left: -15px;
      right: -15px;
      border-radius: 15px; }
    @media screen and (max-width: 768px) {
      .button--rect {
        font-size: 16px;
        height: 50px;
        margin: 0 10px;
        line-height: 50px; }
        .button--rect span::before,
        .button--rect span::after {
          width: 12px;
          height: 50px; }
        .button--rect::before {
          left: -12px;
          right: -12px;
          border-radius: 12px; } }

.button-icon {
  margin: 0 5px 0 -15px; }

body {
  background-color: #000; }

.rocket {
  position: relative; }

.rocket-status {
  position: absolute;
  z-index: 10;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: background-color 0.3s, opacity 0.3s; }
  .rocket-status--success {
    opacity: 0; }
  .rocket-status .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0; }
    .rocket-status .path.line {
      stroke-dashoffset: 1000; }
    .rocket-status .path.check {
      stroke-dashoffset: -100; }
  .rocket-status.st-active .path.circle {
    animation: dash .9s ease-in-out; }
  .rocket-status.st-active .path.line {
    animation: dash 1.9s .35s ease-in-out forwards; }
  .rocket-status.st-active .path.check {
    animation: dash-check 1.9s .35s ease-in-out forwards; }
  .rocket-status--fail.st-active {
    background-color: #fff; }
    .rocket-status--fail.st-active .path {
      animation-delay: 0.3s; }
  .rocket-status--success.st-active {
    opacity: 1; }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

.rocket-scene {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid #0a8091 4px;
  overflow: hidden;
  /* this fixes the overflow:hidden in Chrome */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  backface-visibility: none;
  background-color: #031421; }
  .rocket-scene__rocket {
    position: absolute;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    top: 85px;
    z-index: -2; }
  .rocket-scene__star {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 37%;
    left: 31%; }
    .rocket-scene__star::before, .rocket-scene__star::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
      animation: sparkle 1s ease-in-out infinite alternate; }
    .rocket-scene__star::after {
      transform: translate(-50%, -50%) rotate(90deg); }
    .rocket-scene__star::before {
      transform: translate(-50%, -50%); }
    .rocket-scene__star:nth-child(2) {
      top: 20%;
      left: 23%;
      transform: scale(1.4); }
    .rocket-scene__star:nth-child(3) {
      top: 28%;
      left: 64%;
      transform: scale(0.7); }
  .rocket-scene__smoke {
    position: absolute;
    width: 400%;
    height: 400%;
    bottom: -250%;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%) scale(0.25); }
  .rocket-scene__smoke-bubble {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: smoke infinite 7s alternate ease-in-out; }
    .rocket-scene__smoke-bubble:nth-child(1) {
      left: 1%;
      top: -22%;
      width: 20%;
      height: 20%;
      animation-duration: 5s; }
    .rocket-scene__smoke-bubble:nth-child(2) {
      right: 1%;
      top: -22%;
      width: 20%;
      height: 20%;
      animation-duration: 5s; }
    .rocket-scene__smoke-bubble:nth-child(3) {
      left: -6%;
      top: -28%;
      width: 15%;
      height: 15%;
      animation-duration: 3s; }
    .rocket-scene__smoke-bubble:nth-child(4) {
      right: -6%;
      top: -28%;
      width: 15%;
      height: 15%;
      animation-duration: 3s; }
    .rocket-scene__smoke-bubble:nth-child(5) {
      left: 12%;
      top: -11%;
      width: 20%;
      height: 20%;
      animation-duration: 6s; }
    .rocket-scene__smoke-bubble:nth-child(6) {
      right: 12%;
      top: -11%;
      width: 20%;
      height: 20%;
      animation-duration: 6s; }
    .rocket-scene__smoke-bubble:nth-child(7) {
      left: 28%;
      top: -7%;
      width: 14%;
      height: 14%;
      animation-duration: 3s; }
    .rocket-scene__smoke-bubble:nth-child(8) {
      right: 28%;
      top: -7%;
      width: 14%;
      height: 14%;
      animation-duration: 3s; }
    .rocket-scene__smoke-bubble:nth-child(9) {
      left: 35%;
      top: -6%;
      width: 19%;
      height: 19%;
      animation-duration: 5s; }
    .rocket-scene__smoke-bubble:nth-child(10) {
      right: 35%;
      top: -6%;
      width: 19%;
      height: 19%;
      animation-duration: 5s; }
    .rocket-scene__smoke-bubble:nth-child(11) {
      left: -9%;
      top: -19%;
      width: 30%;
      height: 30%;
      animation: none; }
    .rocket-scene__smoke-bubble:nth-child(12) {
      right: -9%;
      top: -19%;
      width: 30%;
      height: 30%;
      animation: none; }
  .rocket-scene__fire {
    top: 67%;
    z-index: -4;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background-color: #ffde00;
    transform: rotate(135deg);
    margin-top: 20px;
    animation: flicker infinite 1s alternate ease-in-out; }
    .rocket-scene__fire::after {
      content: "";
      top: 5px;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
      background-color: #ff6c00; }
  .rocket-scene__takeoff {
    z-index: -4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7%;
    height: 100%;
    top: 67%;
    background-image: linear-gradient(to right, #ff9e00 0%, #f6ff00 25%, #ff9e00 50%, #f6ff00 75%, #ff9e00 100%);
    opacity: 0; }
  .rocket-scene__shootingstar {
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
    background-color: #fff;
    z-index: -2;
    animation: shooting 10s infinite ease; }
    .rocket-scene__shootingstar:nth-child(1) {
      left: 50px;
      top: 250px;
      animation-delay: calc(-400s / 1); }
    .rocket-scene__shootingstar:nth-child(2) {
      left: 227px;
      top: 233px;
      animation-delay: calc(-400s / 2); }
    .rocket-scene__shootingstar:nth-child(3) {
      left: 145px;
      top: 121px;
      animation-delay: calc(-400s / 3); }
    .rocket-scene__shootingstar:nth-child(4) {
      left: 189px;
      top: 131px;
      animation-delay: calc(-400s / 4); }
    .rocket-scene__shootingstar:nth-child(5) {
      left: 47px;
      top: 183px;
      animation-delay: calc(-400s / 5); }
    .rocket-scene__shootingstar:nth-child(6) {
      left: 67px;
      top: 137px;
      animation-delay: calc(-400s / 6); }
    .rocket-scene__shootingstar:nth-child(7) {
      left: 144px;
      top: 119px;
      animation-delay: calc(-400s / 7); }
    .rocket-scene__shootingstar:nth-child(8) {
      left: 79px;
      top: 120px;
      animation-delay: calc(-400s / 8); }
    .rocket-scene__shootingstar:nth-child(9) {
      left: 177px;
      top: 264px;
      animation-delay: calc(-400s / 9); }
    .rocket-scene__shootingstar:nth-child(10) {
      left: 217px;
      top: 272px;
      animation-delay: calc(-400s / 10); }
    .rocket-scene__shootingstar:nth-child(11) {
      left: 260px;
      top: 71px;
      animation-delay: calc(-400s / 11); }
    .rocket-scene__shootingstar:nth-child(12) {
      left: 166px;
      top: 12px;
      animation-delay: calc(-400s / 12); }
    .rocket-scene__shootingstar:nth-child(13) {
      left: 95px;
      top: 245px;
      animation-delay: calc(-400s / 13); }
    .rocket-scene__shootingstar:nth-child(14) {
      left: 46px;
      top: 118px;
      animation-delay: calc(-400s / 14); }
    .rocket-scene__shootingstar:nth-child(15) {
      left: 227px;
      top: 28px;
      animation-delay: calc(-400s / 15); }
    .rocket-scene__shootingstar:nth-child(16) {
      left: 188px;
      top: 174px;
      animation-delay: calc(-400s / 16); }
    .rocket-scene__shootingstar:nth-child(17) {
      left: 164px;
      top: 206px;
      animation-delay: calc(-400s / 17); }
    .rocket-scene__shootingstar:nth-child(18) {
      left: 273px;
      top: 37px;
      animation-delay: calc(-400s / 18); }
    .rocket-scene__shootingstar:nth-child(19) {
      left: 293px;
      top: 134px;
      animation-delay: calc(-400s / 19); }
    .rocket-scene__shootingstar:nth-child(20) {
      left: 51px;
      top: 18px;
      animation-delay: calc(-400s / 20); }
    .rocket-scene__shootingstar:nth-child(21) {
      left: 107px;
      top: 152px;
      animation-delay: calc(-400s / 21); }
    .rocket-scene__shootingstar:nth-child(22) {
      left: 5px;
      top: 14px;
      animation-delay: calc(-400s / 22); }
    .rocket-scene__shootingstar:nth-child(23) {
      left: 32px;
      top: 63px;
      animation-delay: calc(-400s / 23); }
    .rocket-scene__shootingstar:nth-child(24) {
      left: 147px;
      top: 124px;
      animation-delay: calc(-400s / 24); }
    .rocket-scene__shootingstar:nth-child(25) {
      left: 90px;
      top: 289px;
      animation-delay: calc(-400s / 25); }
    .rocket-scene__shootingstar:nth-child(26) {
      left: 7px;
      top: 61px;
      animation-delay: calc(-400s / 26); }
    .rocket-scene__shootingstar:nth-child(27) {
      left: 112px;
      top: 272px;
      animation-delay: calc(-400s / 27); }
    .rocket-scene__shootingstar:nth-child(28) {
      left: 77px;
      top: 209px;
      animation-delay: calc(-400s / 28); }
    .rocket-scene__shootingstar:nth-child(29) {
      left: 285px;
      top: 296px;
      animation-delay: calc(-400s / 29); }
    .rocket-scene__shootingstar:nth-child(30) {
      left: 247px;
      top: 72px;
      animation-delay: calc(-400s / 30); }
  .rocket-scene__stars2 {
    opacity: 0; }

@keyframes sparkle {
  from {
    height: 10px; }
  to {
    height: 3px; } }

@keyframes smoke {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.2); } }

@keyframes flicker {
  0% {
    transform: rotate(135deg) scale(0.8);
    box-shadow: 0 0 17px 10px rgba(230, 238, 165, 0.5); }
  25% {
    box-shadow: 0 0 17px 5px rgba(230, 238, 165, 0.5); }
  50% {
    box-shadow: 0 0 17px 7px rgba(230, 238, 165, 0.5); }
  75% {
    box-shadow: 0 0 17px 5px rgba(230, 238, 165, 0.5); }
  100% {
    box-shadow: 0 0 17px 10px rgba(230, 238, 165, 0.5); } }

.st-shake {
  animation: shake 0.2s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) alternate;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(-1px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    transform: translate3d(2px, 0, 0); } }

@keyframes shooting {
  0% {
    opacity: 0;
    transform: translateY(-300px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(600px); } }

.presale-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  position: relative;
  z-index: 1; }

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.82;
  background-image: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__info {
    font-size: 26px;
    text-transform: uppercase; }
    .header__info a {
      font-weight: 900;
      text-decoration: none;
      color: #00ccff; }

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

.intro {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
  margin-bottom: 50px; }
  .intro strong {
    font-weight: 900;
    color: #00ccff; }
  .intro p {
    margin: 0; }

.promo-form {
  display: flex;
  align-items: center;
  background-color: rgba(14, 40, 59, 0.75);
  box-shadow: 0 0 0 15px rgba(14, 40, 59, 0.75);
  border: 1px solid rgba(0, 173, 255, 0.4);
  border-radius: 60px; }
  .promo-form__fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 60px 80px; }
    .promo-form__fields .input {
      text-align: center; }
    .promo-form__fields > * + * {
      margin-top: 15px; }
  .promo-form__rocket {
    padding: 0 35px 0 0; }

.rocket {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #008092; }

.footer {
  padding: 70px 0;
  text-align: center; }

.footer-links a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none; }

.footer-links svg {
  fill: #FFF; }

.footer-copyright {
  font-size: 16px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.35); }
