//main: main.scss

$color__ci_white : #FFFFFF;
$color__ci_lightgrey : #F2F2F2;
$color__ci-dark : #2C2C2C;
$color__ci-middark: #383838;
$color__ci_midgrey: #B2B2B2;
$color__ci_pink : #E36479;
$color__ci-blue : #00959A;

.color-turq{
  color: $color__ci-pink;
}
