//main: main.scss
h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0;
  span{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: lowercase;
  }
}

.subtitle{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.4rem;
}

.section-white{
  h2{
    color: $color__ci-middark;
  }
  .subtitle{
    color: $color__ci_midgrey;
  }
}

.section-dark{
  color: #fff;
  h2{
    color: #FFFFFF;
  }
  .subtitle{
    color: $color__ci_pink;
  }
}

.row{
  width: 100%;
}

.downArrow{
	position: fixed;
	bottom: 45%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


.section{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  .section-content{
    height: 100%;
    padding: $gridSize*16+px $gridSize*8+px $gridSize*16+px $gridSize*8+px;
  }

  &.section-float-top{
    .section-content{
      padding: $gridSize*8px $gridSize*8px;
    }
  }



  &.section-image{
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  // &.section-grey{
  //   background-color: $color__ci_lightgrey;
  // }
  &.section-white{
    background-color: $color__ci_white;
    color: #000;
  }
  // &.section-dark{
  //   background-color: $color__ci_dark;
  // }

  &.section-hero{
    height: 100vh;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(57, 14, 166, 0), #3f20a8 80%, #3f20a8 100%);
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .hero-animation{
    height: 100vh;
    width: 100vw;
  }

  .hero-content-wrapper{
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }

  .wall{
    background: url(../img/backgrounds/gaming-04.jpg);
    background-size: cover;
  }

  .hero-animation{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .hero-animation{
    background: #000;
    text-align: center;
  }

  .hero-animation:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .scene{
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
  }

  .wrap{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 12s infinite linear;
    animation-fill-mode: forwards;
  }

  .wrap:nth-child(2){
    animation: move 12s infinite linear;
    animation-delay: 6s;
  }

  .wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 12s infinite linear;
    animation-delay: 0;
  }

  .wrap:nth-child(2) .wall {
    animation-delay: 6s;
  }

  .wall-right {
    transform: rotateY(90deg) translateZ(500px);
  }

  .wall-left {
    transform: rotateY(-90deg) translateZ(500px);
  }

  .wall-top {
    transform: rotateX(90deg) translateZ(500px);
  }

  .wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
  }

  .wall-back {
    transform: rotateX(180deg) translateZ(500px);
  }

  @keyframes move {
    0%{
      transform: translateZ(-500px) rotate(0deg);
    }
    100%{
      transform: translateZ(500px) rotate(0deg);
    }
  }

  @keyframes fade {
    0%{
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  &.section-economy{
    .section-content{
      height: 80%;
      img{
        height: 100%;
      }
    }
  }

  .hero-content{
    // position: absolute;
    // bottom: 30px;
    max-width: 960px;
    width: 75%;
    margin-top: 80px;
  }

  .hero-headline{
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 7.4rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .hero-subline{
    display: block;
    text-align: center;
    margin-bottom: $gridSize*10+px;
    margin-top: -$gridSize*2+px;
    line-height: 1.7;
  }

  .section__body-text{
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    p{
      margin-top: $gridSize*4+px;
      line-height: 1.6;
    }
  }

}

.section-title{
  text-align: center;
}

.section-list-simple{
  ol, ul {
   list-style: none;
   text-align: center;
   margin: 0;
   padding: 0;
   width: 100%;
   // margin-top: $gridSize*12+px;
   }
   li {
     position: relative;
     text-align: left;
     counter-increment: item;
     margin-bottom: 5px;
     display: inline-block;
     width: 33.3333333333333%;
     text-align: center;
     font-size: 0.9rem;
     span{
       display: block;
       margin-bottom: $gridSize+px;
       font-weight: bold;
       font-size: 1.2rem;
     }
     @media(max-width: 767px){
       width: 100%;
       display: block;
     }
   }
}

.section-list{
  ol, ul {
   list-style: none;
   text-align: center;
   margin: 0;
   padding: 0;
   width: 100%;
   // margin-top: $gridSize*12+px;
   }
   li {
     position: relative;
     text-align: left;
     counter-increment: item;
     margin-bottom: 5px;
     display: inline-block;
     width: 33.3333333333333%;
     padding-left: 48px;
     margin-left: 48px;
     font-size: 0.9rem;
     span{
       display: block;
       margin-bottom: $gridSize+px;
       font-weight: bold;
       font-size: 1.2rem;
     }
     @media(max-width: 767px){
       width: 100%;
       display: block;
     }
   }
   li:before {
     margin-right: 10px;
     content: counter(item);
     color: $color__ci_pink;
     width: 1.2em;
     font-size: 3.4rem;
     height: 100%;
     left: 0;
     position: absolute;
     vertical-align: middle;
     font-family: 'Fjalla One', sans-serif;
     font-weight: 100;
   }
}

.section-centered{
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

.section-image-section{
  padding-bottom: 35%;
}

.section-economy-image{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  margin: 0 auto;
  margin-bottom: $gridSize*5+px;
  img{
    height: 100%;
    margin: 0 auto;
    display: block;
  }
  @media(max-width: 767px){
    width: 100%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: $color__ci_pink;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 2em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.cd-timeline-img {
  background: $color__ci_pink;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 1em;
  span{
    margin-bottom: 18px;
    display: block;
  }
  .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {
        display: block;
        width:100%;
      }
    }
  }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
  }
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  // .cd-timeline-content::before {
  //   top: 24px;
  //   left: 100%;
  //   border-color: transparent;
  //   border-left-color: $color__ci_pink;
  // }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  // .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  //   top: 24px;
  //   left: auto;
  //   right: 100%;
  //   border-color: transparent;
  //   // border-right-color: $color__ci_pink;
  // }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

.section__body-image{
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  @media(min-width: 1024px){
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}



.windmill{
  position: absolute;
  &.wm-01{
    width: 60px;
    height: 90px;
    top: 120px;
    .wm-stem{
      height: 60px;
      left: 27px;
      top: 32px;
    }
    .wm-leaf{
      width: 60px;
      left: 0px;
      top: 0px;
      -webkit-animation:rotateIt 1.7s linear infinite;
      -moz-animation:rotateIt 1.7s linear infinite;
      animation:rotateIt 1.7s linear infinite;
      @include transform(translate3d(0,0,0))
    }
  }
  .wm-stem, .wm-leaf{
    position: absolute;
  }
}

.footer-logo{
  margin: 0 auto;
  display: block;
  width: 32px;
}

/*******************************************
Animations
*******************************************/

:not(.mobile-device){


  .hero-headline{
    opacity: 0.0;
    @include transition(all 0.5s ease);
    @include transform(translate3d(0,20%,0));
  }

  .hero-subline{
    opacity: 0.0;
    @include transition(all 0.5s ease);
    @include transition-delay(0.2s);
    @include transform(translate3d(0,20%,0));
  }
  .section__body-text{
    opacity: 0.0;
    @include transition(all 0.3s ease-out);
    @include transform(translate3d(-10%,0,0));
  }

  .section__body-image{
    opacity: 0.0;
    @include transition(all 0.3s ease-out);
    @include transform(translate3d(14%,0,0));
  }

  .section-list li{
    opacity: 0.0;
    @include transition(all 0.38s ease-out);
    @include transform(translate3d(0,10%,0));
  }

  .section-economy-image{
    opacity: 0.0;
    @include transition(all 0.38s ease-out);
    @include transform(translate3d(0,10%,0));
  }

  .section-title{
    opacity: 0.0;
    @include transition(all 0.38s ease-out);
  }

}


.in-view{
  &.section{
    .hero-headline{
      opacity: 1.0;
      @include transform(translate3d(0,0%,0));
    }
    .hero-subline{
      opacity: 1.0;
      @include transform(translate3d(0,0%,0));
    }
    .section-content{
      opacity: 1.0;
      @include transform(translate3d(0,0,0));
    }
    .section__body-text{
      opacity: 1.0;
      @include transform(translate3d(0,0,0));
    }
    .section__body-image{
      opacity: 1.0;
      @include transform(translate3d(0,0%,0));
    }

    .section-list li{
      opacity: 1.0;
      @include transform(translate3d(0,0%,0));
      &:nth-child(1){
        @include transition-delay(0.0s);
      }
      &:nth-child(2){
        @include transition-delay(0.0s);
      }
      &:nth-child(3){
        @include transition-delay(0.0s);
      }
    }

    .section-economy-image{
      opacity: 1.0;
      @include transform(translate3d(0,0%,0));
    }

    .section-title{
      opacity: 1.0;
    }

  }
}



@-moz-keyframes rotateIt {
  0% { @include transform(rotateZ(0)); }
  100% { @include transform(rotateZ(360)); }
}
@-webkit-keyframes rotateIt {
  0% { @include transform(rotateZ(0)); }
  100% { @include transform(rotateZ(360)); }
}
@keyframes rotateIt {
  0% { @include transform(rotateZ(0)); }
  100% { @include transform(rotateZ(360)); }
}

/*******************************************
Mobile
*******************************************/

@media(max-width:767px){
  .section{
    h1.hero-headline{
      font-size: 2.8rem;
    }
    .hero-subline{
      margin-bottom: 0px;
      margin-top: 0px;
      br{
        display: none;
      }
    }
    .hero-content{
      position: relative;
      padding: 20px;
      width: 100%;
    }

    &.section-hero{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
    }
    .section-content{
      padding: $gridSize*7+px $gridSize*3+px $gridSize*8+px $gridSize*3+px;
    }
    .section__body-image{
      width: 80%;
      margin: 0 auto;
      height: 0;
      padding-bottom: 100%;
      margin-top: $gridSize*6+px;
    }
    .section-list{
      margin-top: $gridSize*2+px;
    }
    .section-list ol{
      margin-top: $gridSize*8+px;
    }
    .section-list li{
      margin-left: 0;
      margin-bottom: $gridSize*4+px;
    }
  }
}
