//main : main.scss

$grid: 18px;

.icon{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.with-icon{
  position: relative;
  padding-left: 64px;
  margin-bottom: $gridSize*4+px;
  &::before{
    position: absolute;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    left: 0;
    top:-10px;
    width: 48px;
    height: 48px;
  }
  &.icon-coin{
    &::before{
        background-image: url(../img/icons/coin@2x.png);
    }
  }
  &.icon-api{
    &::before{
        background-image: url(../img/icons/api@2x.png);
    }
  }
}

.icon-ecosystem{
  background-image: url(../img/icons/ecosystem@2x.png);
}

.icon-assets{
  background-image: url(../img/icons/assets@2x.png);
}

.icon-decentralized{
  background-image: url(../img/icons/decentralized@2x.png);
}

.icon-ab{
  width: 96px;
  display: block;
  margin: 20px auto;
}

#app{
  // margin-bottom: 300px;
}

section{
  width: 100%;
  position: relative;

  .scene{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .section-content-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .section-content{
    position: relative;
    height: 100%;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }

  &.section-centered{

  }

  &.header{
    text-align: center;
    height: 140vh;
    .section-content-wrapper{
      height: 100vh;
      position: absolute;
    }
    .upper-header{
      height: 70vh;
    }
    .lower-header{
      height: 30vh;
    }

    .icon{
      width: 64px;
      height: 64px;
      margin: 0 auto;
    }

    h1{
      margin-top: 15%;
    }

  }
}

section .scene{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// header

.warp-gradient{
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-image: linear-gradient(180deg, rgba(0,0,0,0), #000);
  width: 100%;
  height: 40vh;
}

#warp-scene{
  background-image: url(../img/backgrounds/universe4.jpg);
  background-size: cover;
  background-position: top center;
}

@keyframes rotateClock {
    from {@include transform(rotateZ(-180deg))}
    to {@include transform(rotateZ(180deg))}
}

@keyframes rotateCounter {
    from {@include transform(rotateZ(180deg))}
    to {@include transform(rotateZ(-180deg))}
}

#intro{
  margin: 0% 0 14% 0;
  .intro-balls{
    position: relative;
    z-index: 0;
    padding: 22% 40px 18% 40px;
    &::before, &::after{
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left:-50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: -1;
    }
    &::before{
      background-image: url(../img/elements/bowl-1-glow.png);
      animation: rotateClock 60s linear infinite forwards;
    }
    &::after{
      background-image: url(../img/elements/bowl-2.png);
      animation: rotateCounter 60s linear infinite forwards;
    }
  }
}

p{
  // text-align: justify;
  display: block;
  max-width: 350px;
  margin: 0 auto;
  display: block;
}

@keyframes flicker {
    0% {opacity: 0}
    30% {opacity: 0.8}
    40% {opacity: 0.1}
    65% {opacity: 0.9}
    78% {opacity: 0.0}
    100% {opacity: 1.0}
}


#benefits{
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  .nav{
    justify-content: center;
    align-items: center;
  }
  .nav-tabs{
    border: none;
    margin-bottom: $gridSize*8+px;
    .nav-item{
      padding: 8px 32px;
      .nav-link{
        &:after{
          content: '';
          width: 100%;
          height: 5px;
          left: 0;
          background-color: $cc_blue;
          position: absolute;
          bottom: 0;
          opacity: 0.0;
        }
        &.active::after{
          opacity: 1.0;
        }
      }
      .nav-link:not(.active):hover{
        position: relative;
        &:after{
          opacity: 0.0;
          animation: flicker 0.3s linear 1 forwards;
        }
      }
      .nav-link.active{
        position: relative;
      }
    }
  }

  .tab-content{
    [class*='col-']{
      padding: $gridSize*4+px;
      padding-left: $gridSize*4+48+px;
    }
    h3{
      display: block;
      margin-bottom: $gridSize;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: -48px;
        top: 12px;
        width: 24px;
        height: 24px;
        background-image: url(../img/icons/add@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#product{

  position: relative;
  z-index: 1;
  padding: 30% 0;
  overflow: hidden;

  .product-explainer{
    margin-bottom: $gridSize*24+px;
  }

  #scene{
    position: absolute;
    z-index: -3;
    top: -12%;
    right: -25%;
  }

  #scene, .layer{
    width: 100%;
    height: 100%;
  }

  .layer{
    overflow: hidden;
  }

  .twinkle{
    height: 100%;
    width: 100%;
    position: relative;
    .stars, .twinkling{
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
    .stars{
      background:#000 url(../img/backgrounds/stars2.png) repeat top center;
      z-index:0;
    }
    .twinkling{
      background:transparent url(../img/elements/twinkling.png) repeat top center;
      z-index:1;

      -moz-animation:move-twink-back 300s linear infinite;
      -ms-animation:move-twink-back 300s linear infinite;
      -o-animation:move-twink-back 300s linear infinite;
      -webkit-animation:move-twink-back 300s linear infinite;
      animation:move-twink-back 300s linear infinite;
    }
  }

  .background{
    background: url("../img/backgrounds/universe6.png") no-repeat;
    background-position: top right;
    background-size: contain;
    width: 110%;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: -5%;
  }
}

#showcase{
  padding: 180px 0 240px 0;
  position: relative;
  z-index: 0;

  #planet-scene{
    position: absolute;
    z-index: -1;
    top: -25%;
    height: 150%;

  }
}

#team{
  padding: 100px 0 100px 0;

  h3{
    font-size: 1.4rem;
  }

  .team-image{
    width: 128px;
    display: block;
    margin: 0 auto;
  }

  .team-row{
    [class*='col-']{
      padding: 36px;
      margin-bottom: 36px;
      h3{
        margin: $gridSize*4+px 0 4px 0;
      }
    }
  }
}

#roadmap{

  padding: 200px 0 0px 0;

  background: linear-gradient(180deg, #000, #16222A);

  h2{
    text-align: center;
  }

  #cd-timeline {
    width: 100%;
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 1px;
    background: $cc_blue;
  }
  @media only screen and (min-width: 1170px) {
    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px;
    }
  }

  .cd-timeline-block {
    position: relative;
    margin: 0em 0;
  }
  .cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      margin: -1em 0;
    }
    .cd-timeline-block:first-child {
      margin-top: 0;
    }
    .cd-timeline-block:last-child {
      margin-bottom: 0;
    }
  }

  .cd-timeline-img {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .cd-timeline-img {
    background: $cc_blue;
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-img {
      width: 12px;
      height: 12px;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      margin-top: -6px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
  }

  .cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: rgba(0,0,0,0.09);
    border-radius: 2px;
    padding: 1em;
    span{
      margin-bottom: 18px;
      display: block;
    }
    .timeline-content-info {
      background: #2B343A;
      padding: 5px 10px;
      color: rgba(255,255,255,0.7);
      font-size: 12px;
      box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
      border-radius: 2px;
      i {
        margin-right: 5px;
      }
      .timeline-content-info-title, .timeline-content-info-date {
        width: calc(50% - 2px);
        display: inline-block;
      }
      @media (max-width: 500px) {
        .timeline-content-info-title, .timeline-content-info-date {
          display: block;
          width:100%;
        }
      }
    }
    .content-skills {
      font-size: 12px;
      padding:0;
      margin-bottom: 0;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        background: #40484D;
        border-radius: 2px;
        display: inline-block;
        padding: 2px 10px;
        color: rgba(255,255,255,0.7);
        margin: 3px 2px;
        text-align: center;
        flex-grow: 1;
      }
    }
  }
  .cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-content h2 {
    color: rgba(255,255,255,.9);
    margin-top:0;
    margin-bottom: 5px;
  }
  .cd-timeline-content p, .cd-timeline-content .cd-date {
    color: rgba(255,255,255,.7);
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .cd-timeline-content .cd-date {
    display: inline-block;
  }
  .cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.9;
  }

  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
  }

  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-content {
      color: white;
      margin-left: 0;
      padding: 1.6em;
      width: 36%;
      margin: 0 5%
    }
    // .cd-timeline-content::before {
    //   top: 24px;
    //   left: 100%;
    //   border-color: transparent;
    //   border-left-color: $color__ci_pink;
    // }
    .cd-timeline-content .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
      float: right;
    }
    // .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    //   top: 24px;
    //   left: auto;
    //   right: 100%;
    //   border-color: transparent;
    //   // border-right-color: $color__ci_pink;
    // }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
      float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
      left: auto;
      right: 122%;
      text-align: right;
    }
  }

}

#rocket{
  height: 100vh;
  z-index: 0;
  position: relative;
  overflow: hidden;

  background: linear-gradient(180deg, #16222A, #17374d);

  #rocket-scene{
    position: absolute;
    z-index: -3;
    height: 100%;

  }

  #rocket-scene, .layer{
    width: 100%;
    height: 100%;
  }

  .layer{
    // overflow: hidden;
  }

  .mountains{
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 110%;
    position: absolute;
    left: -5%;
    top: 10%;
    bottom: -10%;
  }

  .m3{
    background-image: url("../img/elements/m3.png");
    bottom: -25%;
  }

  .m2{
    background-image: url("../img/elements/m2.png");
    bottom: -35%;
  }

  .m1{
    background-image: url("../img/elements/m1.png");
    bottom: -30%;
  }

  .rocket{
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: -10%;
  }

  .m0{
    background-image: url("../img/elements/m0.png");
    bottom: -30%;
  }
}
