.bg-milky-way {
  background-position: 0 100%;
  background-size: cover;
  background-image: url(../img/backgrounds/milky-way.jpg);
  background-repeat: no-repeat;
}

.intro {
  background-image: url(../img/backgrounds/eye-nebula.jpg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.team {
  background-size: 100% auto;
  background-position: 0 0;
  background-image: url(../img/backgrounds/earth.jpg);
  background-repeat: no-repeat;
}

.showcase {
  background-position: 50% 150px;
  background-image: url(../img/backgrounds/planet.png);
  background-repeat: no-repeat;
}

.footer {
  background-size: 100% auto;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: url(../img/backgrounds/ground.jpg);

  .container::before {
    position: absolute;
    bottom: 0;
    right: 25%;

    width: 278px;
    height: 712px;
    margin-right: -140px;

    content: '';

    background-image: url(../img/backgrounds/rocket.png);
  }
}

@keyframes move-twink-back {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, -100%, 0);
  }
}

.bg-stars-nebula {
  position: relative;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;

    width: 1074px;
    height: 839px;
    margin-left: -537px;

    content: '';

    background-image: url(../img/backgrounds/cloud-nebula.png);
  }

  .showcase,
  .product {
    position: relative;
    z-index: 3;
  }

  .twinkle {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    transform: translate3d(0, 0, 0);

    .stars,
    .twinkling {
      position: absolute;
      top: 0;
      left: 0;
    }

    .stars {
      right: 0;
      bottom: 0;
      z-index: 0;
      background: #000 url(../img/backgrounds/stars2.png) repeat top center;
    }

    .twinkling {
      width: 10000px;
      height: 5000px;
      background: transparent url(../img/elements/twinkling.png) repeat top center;
      z-index: 1;
      animation: move-twink-back 300s linear infinite;
    }
}
}