.blog {
  padding: 140px 0 130px;
  background-color: white;
  color: black;
  min-height: 100vh;

  @media screen and (max-width: 768px) {
  }

  .blog-index {
    list-style: none;

    li {
      display: block;
      font-size: 20px;
      line-height: 1.1;
      margin-bottom: 30px;

      .date {
        font-size: 16px;
      }
    }
  }

  .section-header {
    text-align: left;
    margin-bottom: 1.5rem;
  }
}

html.blog {
  .top-header {
    background-color: black;
    padding: 15px 40px 15px;

    .top-header-logo {
      width: 130px;
      height: 33px;
    }
  }
}
