.button {
  font-size: 28px;
  font-weight: 900;

  position: relative;

  display: inline-block;
  height: 65px;
  padding: 0 10px;
  margin: 0 30px;

  cursor: pointer;
  text-transform: uppercase;
  line-height: 65px;

  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #00adff, #00f2fe) 100% 1;
  background: none;

  &:hover {
    color: #FFF;
    text-decoration: none;
  }

  &::before,
  &::after {
    position: absolute;
    top: -2px;

    width: 32px;
    height: 65px;

    content: '';

    border-style: solid;
    border-width: 2px;
  }

  &::before {
    right: 100%;
    border-right-width: 0;
    border-color: #00adff;
    border-radius: 32px 0 0 32px;
  }

  &::after {
    left: 100%;
    border-left-width: 0;
    border-color: #00f2fe;
    border-radius: 0 32px 32px 0;
  }

  &--rect {
    font-size: 24px;

    width: calc(100% - 30px);
    height: 60px;
    margin: 0 15px;

    line-height: 60px;

    &::before,
    &::after {
      width: 15px;
      height: 60px;
    }
  }
}

.button-icon {
  margin: 0 5px 0 -15px;
}