.button {
  font-family: inherit;
  font-size: 28px;
  font-weight: 900;

  position: relative;

  display: inline-block;
  flex-shrink: 0;
  height: 65px;
  margin: 0 30px;
  padding: 0;

  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 65px;

  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #00adff, #00f2fe) 100% 1;
  background: none;
  transition: color 0.2s;

  span {
    position: relative;
    z-index: 1;
    display: block;
    height: 63px;
    padding: 0 10px;
  }

  span::before,
  span::after {
    position: absolute;
    top: -2px;
    bottom: -0;

    width: 32px;

    content: '';

    border-style: solid;
    border-width: 2px;
  }

  span::before {
    right: 100%;
    border-right-width: 0;
    border-color: #00adff;
    border-radius: 32px 0 0 32px;
  }

  span::after {
    left: 100%;
    border-left-width: 0;
    border-color: #00f2fe;
    border-radius: 0 32px 32px 0;
  }

  &::before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -34px;
    right: -34px;

    content: '';
    opacity: 0;

    border-radius: 32px;
    background-image: linear-gradient(to right, #00adff, #00f2fe);

    transition: opacity 0.2s;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    color: #0d1d3f;
    text-decoration: none;
    transition: none;

    &::before {
      opacity: 1;
      transition: none;
    }

    span::before,
    span::after {
      display: none;
    }

    .button-icon {
      fill: #0d1d3f;
    }
  }

  em {
    font-style: normal;
    font-weight: normal;
  }

  @media screen and (max-width: 1200px) {
    font-size: 26px;
  }

  @media screen and (max-width: 1000px) {
    font-size: 22px;
  }

  @media screen and (max-width: 768px) {
    font-size: 18px;
    height: 46px;
    line-height: 46px;

    margin: 0 23px;

    span::before,
    span::after {
      width: 23px;
      height: 46px;
    }

    &::before {
      left: -23px;
      right: -23px;
    }
  }

  &--rect {
    font-size: 24px;

    width: calc(100% - 30px);
    height: 60px;
    margin: 0 15px;

    line-height: 60px;

    span {
      height: 100%;
    }

    span::before,
    span::after {
      width: 15px;
      height: 60px;
    }

    &::before {
      left: -15px;
      right: -15px;
      border-radius: 15px;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;

      height: 50px;
      margin: 0 10px;

      line-height: 50px;

      span::before,
      span::after {
        width: 12px;
        height: 50px;
      }

      &::before {
        left: -12px;
        right: -12px;
        border-radius: 12px;
      }
    }
  }
}

.button-icon {
  margin: 0 5px 0 -15px;
}