.footer {
  min-height: 100vh;
  padding-top: 220px;
  position: relative;
  overflow: hidden;

  .section-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .content {
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    text-align: center;

    & > * {
      width: 43%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;

      & > * + * {
        margin-bottom: 30px;
      }
    }

  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .subscribe {
    position: relative;
    .input {
      margin-bottom: 15px;
      text-align: center;
    }

    .alert {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    overflow: visible;
    min-height: auto;
    padding-top: 40px;
  }
}

.footer-links {
  margin: 40px 0 15px;

  a {
    display: inline-block;
    color: #FFF;
  }

  a + a {
    margin-left: 15px;


  }

  svg {
    fill: #FFF;
  }

  a:hover svg {
    fill: url(#icons-gradient-small);
  }
}

.footer-copyright {
  font-size: 16px;

  color: rgba(#FFF, 0.35);
}