.top-header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;

}

.top-header-menu {
  font-size: 22px;
  font-weight: 900;

  text-transform: uppercase;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  a {
    padding: 5px 15px;
    display: inline-block;

    cursor: pointer;

    &[href] {
      padding: 5px 5px;
    }
  }
}