.input {
  font-size: 20px;
  font-family: inherit;

  width: 100%;
  height: 66px;

  color: #FFF !important;
  border: 2px solid rgba(#FFF, 0.35);
  border-radius: 15px;
  background: none;

  outline: none;

  &--round {
    border-radius: 35px;
    border-color: rgba(#8ae0ff, 0.35);
  }
}