.roadmap{
  padding-top: 100px;

  .cd-container {
    width: 100%;
    margin-top: 25px;
    padding: 50px 0 50px 125px;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 124px;

      width: 2px;
      height: 100%;

      content: '';

      background-image: linear-gradient(
        rgba(#fff, 0),
        rgba(#fff, 0.35) 5%,
        rgba(#fff, 0.35),
        rgba(#fff, 0.35) 95%,
        rgba(#fff, 0)
      );
    }
  }

  .cd-timeline-block {
    position: relative;
    margin-bottom: 25px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cd-timeline-img {
    position: absolute;
    top: 70px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    border-width: 2px;
    border-color: #00ecfe;
    border-style: solid;
    background-color: #000000;

    &::before {
      display: block;
      width: 8px;
      height: 8px;

      margin: 2px;
      display: none;

      content: '';

      border-radius: 50%;
      background-image: linear-gradient(to right, rgb(79,172,254) 0%, rgb(0,242,254) 100%);
    }
  }

  .cd-timeline-content {
    position: relative;
    border-radius: 2px;
    padding: 0 0 0 45px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
    }

    h2 {
      font-size: 28px;
      font-weight: 900;

      color: #FFF;
    }

    p {
      font-size: 18px;

      line-height: 26px;
    }

    &-year,
    &-q {
      font-size: 38px;
    }

    &-q {
      opacity: 0.35;
    }

    &-year {
      position: absolute;
      left: -125px;

      &::before {
        position: absolute;
        left: 115px;
        top: 20px;

        width: 20px;
        height: 20px;

        content: '';

        border-radius: 50%;
        background-image: linear-gradient(to right, rgb(79,172,254) 0%, rgb(0,242,254) 100%);
      }
    }
  }

  .cd-timeline-block--done {
    .cd-timeline-img::before {
      display: block;
    }

    h2 {
      color: #00ceff;

      span {
        background: -webkit-linear-gradient(360deg, #00adff, #00f2fe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::after {
          display: inline-block;
          width: 25px;
          height: 26px;
          margin-left: 10px;

          content: '';

          background-image: url(../img/icons/checkmark2.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

}
