.team {
  padding: 100px 0 100px 0;

  h3{
    font-size: 1.4rem;
  }

  .team-image{
    width: 128px;
    display: block;
    margin: 0 auto;
  }

  .team-row{
    [class*='col-']{
      padding: 36px;
      margin-bottom: 36px;
      h3{
        margin: $gridSize*4+px 0 4px 0;
      }
    }
  }
}