.team {
  padding: 150px 0 0 0;

  .section-header {
    margin-bottom: 30px;
  }

  .section-content{
    &.bg-dust{
      &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0, 0, 0, 0.5)),color-stop(3%,transparent),color-stop(97%,transparent),to(rgba(0, 0, 0, 0.5)));
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),transparent 97%,transparent 3%,rgba(0, 0, 0, 0.5));
      }
    }
  }

  h3 {
    font-size: 28px;
    font-weight: 900;

    background: -webkit-linear-gradient(360deg, #00adff, #00f2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .team{
    &-row {
      p {
        font-size: 18px;
      }
      //[class*='col-']{
      //  padding: 36px 15px;
      //
      //
      //}

    }
    &-member{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 250px;

      &-name{
        margin: 20px 0 0;
      }
    }
    &-image {
      max-width: 180px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0 0;
    margin-bottom: -20px;

    //.team-row {
    //  [class*='col-'] {
    //    padding: 15px;
    //  }
    //}
  }

  @media screen and (max-width: 576px) {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    //[class*='col-'] {
    //  position: relative;
    //  text-align: left;
    //
    //  display: flex;
    //  align-items: flex-start;
    //}

    .team{
      &-image {
        margin: 0;
        max-width: 150px;
      }
    }
  }
}