.team {
  padding: 150px 0 0 0;

  .section-header {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 28px;
    font-weight: 900;

    background: -webkit-linear-gradient(360deg, #00adff, #00f2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .team-row {
    p {
      font-size: 18px;
    }

    .team-member{
      @media screen and (max-width: 576px) {
        display: flex;

        padding-left: 50px !important;
        padding-right: 50px !important;
      }
    }
  }

  .team-image {
    width: 150px;
    display: block;
    margin: 0 auto;
    
  }

  .team-row {
    [class*='col-']{
      padding: 36px 15px;

      h3{
        margin: 20px 0 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0 0;
    margin-bottom: -20px;

    .team-row {
      [class*='col-'] {
        padding: 15px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    [class*='col-'] {
      position: relative;
      text-align: left;

      display: flex;
      align-items: flex-start;
    }

    .team-image {
      margin: 0 30px 0 0;
      width: 120px;
    }
  }
}