.top-header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 10px;
  transition: background-color 0.2s;

  &.st-scrolled {
    background-color: rgba(#000, 0.8);
  }

  @media screen and (max-width: 1280px) {
    .top-header-logo {
      width: 200px;
      height: 51px;
    }
  }

  @media screen and (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
    .top-header-logo {
      width: 130px;
      height: 33px;
    }
  }

  a {
    transition: color 0.2s;

    color: #ffffff;

    &:hover {
      transition: none;
    }
  }
}

.top-header-menu {
  font-size: 22px;
  font-weight: 900;

  text-transform: uppercase;

  button {
    all: initial;
    -webkit-appearance: none;
    background: transparent;
    border: 0;

    position: absolute;
    z-index: 10;
    top: 20px;
    right: 0;

    display: none;
    padding: 20px;

    cursor: pointer;

    @media screen and (max-width: $menu_mobile_width) {
      display: block;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  a {
    padding: 5px 15px;
    display: inline-block;
    color: white;

    cursor: pointer;

    &:hover {
      background: -webkit-linear-gradient(360deg, #00adff, #00f2fe);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  @media screen and (max-width: 800px) {
    font-size: 18px;

    a {
      padding: 5px 10px;
    }
  }

  @media screen and (max-width: $menu_mobile_width) {
    ul {
      position: absolute;
      top: 100%;
      right: 0;

      padding: 10px 20px 20px;

      display: none;
      flex-direction: column;
      align-items: flex-end;

      background-color: rgba(#000, 0.8);
    }

    ul.st-opened {
      display: flex;
    }

    li {
      width: 100%;
    }

    li:not(.top-header-socials) > a {
      width: 100%;
    }
  }
}

.top-header-socials {
  white-space: nowrap;

  a {
    padding: 5px 5px;

    &:hover svg {
      fill: #FFF;
    }
  }
}
