//main : main.scss

body,html{
  font-family: 'Rogan', serif;
  font-size: 92%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1.7;
}

#benefits{
  .nav-link.active, .nav-link{
    background-color: transparent;
    border: none;
  }
  .nav-item a{
    font-size: 1.8rem;
    color: #fff;
    &.active, &.nav-link:hover{
      color: $cc_blue;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .tab-content{
    h3{
      font-size: 1.4rem;
      color: #fff;
    }
  }
}

.text-center{
  text-align: center;
}
