//main : main.scss

@font-face {
  font-family: 'Rogan';
  src: url('../fonts/rogan-extrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rogan';
  src: url('../fonts/rogan-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,html{
  font-family: 'Rogan', serif;
  font-size: 92%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1.7;
}

.text-center{
  text-align: center;
}
