//main : main.scss

body,html{
  font-family: 'Rogan', serif;
  font-size: 92%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1.7;
}

.text-center{
  text-align: center;
}
